body, html {
    height: 100%;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

#emb-btn,
#extr-btn{
    display: block;
    margin-bottom: 10%;
    height: 2em;
    width: 8em;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid #ccc;
}

#emb-btn:hover,
#extr-btn:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}


#emb-btn{
    border-radius: 5px 0 0 5px;
}

#extr-btn{
    border-radius: 0 5px 5px 0;
}


#start-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media all and (max-width: 420px){
    #start-div{
        display: block;
    }

    #emb-btn,
    #extr-btn{
        margin-bottom: 0;
        width: 100%;
    }
}

#emb-div,
#extr-div
{
    display: none;
}

.image-div{
    display: inline-block;
}

textarea{
    width: 100%;
}

.header{
    text-align: center;
    font-size: 2rem;
    margin: 20px 5% 20px 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*Embedding page*/
.step-body{
    margin-bottom: 10px;
}

.step-header{
    display: inline-block;
    /*padding: 10px;*/
    background-color: gold;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.step-number{
    display: inline-block;
    background-color: #f0c800;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.step-text{
    display: inline-block;
}




#image-before-embedding{
    width: 25%;
    height: 25%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 10px 5%
}

input[type='radio']{
    margin-right: 15px;
    margin-left: 3px;
}

.substep-body{
    margin: 0 0 10px 5%;
}

.substep-header{
    display: inline-block;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    padding: 5px;
}

.substep-select{
    display: inline-block;
    border-right: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
}

.substep-select input[type='radio']{
    margin: 5px 10px 5px 10px;
}

.substep-text{
    display: inline-block;
}

.interval-mode-select{
    margin-left: 8%;
}


.substep-body input[type='number']{
    width: 3em;
}

#color-channel-div{
    background-color: darkred;
    color: white;
}

#go-start-page{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    border: 1px solid #ccc;
    background-color: ivory;
    padding: 5px 10px 5px 5px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    text-align: center;
}

#go-start-page img{
    width: 40px;
    height: 40px;
}

#go-start-page:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

:not(.interval-mode-select) + .interval-mode-select > .substep-header{
    background-color: lemonchiffon;
}

.rvalue-input{
    margin-right: 1rem;
}