.step-body{
    margin-bottom: 10px;
}

.step-header{
    display: inline-block;
    /*padding: 10px;*/
    background-color: gold;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.step-number{
    display: inline-block;
    background-color: #f0c800;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.step-text{
    display: inline-block;
    padding: 5px 5px 5px 0;
}



#emb-extr-img{
    display: none;
    width: 25%;
    height: 25%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 10px 5%
}

input[type='radio']{
    margin-right: 15px;
    margin-left: 3px;
}

.substep-body{
    margin: 0 0 10px 5%;
}

.substep-header{
    display: inline-block;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    padding: 5px;
}

.substep-select{
    display: inline-block;
    border-right: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
}

.substep-select input[type='radio']{
    margin: 5px 10px 5px 10px;
}

.substep-text{
    display: inline-block;
}

.interval-mode-select{
    margin-left: 8%;
}


.substep-body input[type='number']{
    width: 3em;
}

#color-channel-div{
    background-color: darkred;
    color: white;
}

#go-start-page{
    position: fixed;
    bottom: 20px;
    right: 0;
    border: 1px solid #ccc;
    background-color: ivory;
    padding: 5px 10px 5px 5px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    text-align: center;
}

#go-start-page img{
    width: 40px;
    height: 40px;
}

#go-start-page:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

:not(.interval-mode-select) + .interval-mode-select > .substep-header{
    background-color: lemonchiffon;
}

.rvalue-input{
    margin-right: 1rem;
}


.result-content{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 96%;
    word-wrap: break-word;
}

.extracted-message-label{
    margin-top: 20px;
    margin-left: 15px;
}
